# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/
!**/src/main/**/out/
!**/src/test/**/out/

# VS Code
.vscode/

# Gradle
.gradle/
build/
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!**/src/main/**/build/
!**/src/test/**/build/
!/src/

# Sistema Operativo
.DS_Store
Thumbs.db

# Logs y archivos temporales
*.log
*.tmp

# Archivos adicionales
HELP.md

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
